<div class="js-msg__wrapper">
    <div>
        <label for="add_message">Include custom Message</label>
        <input type="checkbox" name="add_message" class="js-artisan-msg__chk">
        <input type="text" id="artisan-message-{{ id }}"
               class="js-artisan-msg__str"
               aria-label="message"
               maxlength="70"
               name="properties[_artisan_message]" style="display: none;" disabled>
        <label class="js-artisan-msg__lbl" for="properties[_artisan_message]" style="display: none">Max. length 70 characters</label>
        <p></p>
        <label for="properties[_artisan_signature]">Add Signature</label>
        <input type="checkbox" name="properties[_artisan_signature]" class="js-artisan-sgn__chk">
        <p></p>
    </div>
</div>

