<div class="product__note">
  
       <p style="font-size: large; color: #00594c; font-weight: bold; text-transform: uppercase;">receive double points on your preorder</p>
         <p>Please note: This item is currently out of stock. Our artisans are hard at work creating a piece for you to cherish for generations. By preordering, you are reserving this item, and as an appreciation for your patience and love of craftsmanship, you will receive double points on your preorder.<br></p>

  <div class="collapsibles-wrapper collapsibles-wrapper--border-bottom">
    <button type="button" style="background:white;" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height" aria-controls="Product-content-{{ include_page_handle.last }}-{{ section_id }}">
      <b>Learn more</b>{% include 'collapsible-icons' %}
          </button>
    
          <div id="Product-content-{{ include_page_handle.last }}-{{ section_id }}" class="collapsible-content collapsible-content--all">
            <div class="collapsible-content__inner rte" style="background:white; text-align:center;">
               <p>You will be charged when order is placed and notified via email when your order has shipped. Items typically ship within 6-8 weeks. Given the handcrafted nature of our products, some items may take longer to arrive. Please contact customer service for estimated arrival dates.</p>
                 <a href="/pages/rewards" style="color: #00594c; font-weight: bold; text-transform: uppercase;">Sign up/log in to receive points</a> 
            
          </div>
    </div>
        </div>
     </div><br>