<div id="video-footer">
    <div class="image-row" id="story">
        <div class="image-row__placeholder">
            <div class="youtube-player">
                <div id="Vimeo-our-story" data-video-id="127605694" data-vimeo-initialized="true" class="vid-wrap">
                <div class="vp-preview vp-preview-cover"  style="background-image: url({{ 'story-video.jpg' | asset_url }});">
                    <h4>our story</h4>
                    <span class="product__thumb-play">
                        {% include 'icon-play' %}
                    </span>
                </div>
                <iframe src="" width="640" height="420" frameborder="0" allowfullscreen="1"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="image-row" id="craft">
        <div class="image-row__placeholder">
            <div class="youtube-player">
                <div id="Vimeo-our-craft" data-video-id="127605694" data-vimeo-initialized="true" class="vid-wrap">
                <div class="vp-preview vp-preview-cover"  style="background-image: url({{ 'craft-video.jpg' | asset_url }});">
                    <h4>our craft</h4>
                    <span class="product__thumb-play">
                        {% include 'icon-play' %}
                    </span>
                </div>
                <iframe src="" width="640" height="420" frameborder="0" allowfullscreen="1"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="image-row" id="artisan">
        <div class="image-row__placeholder">
            <div class="youtube-player">
                <div id="Vimeo-our-artisans" data-video-id="127605694" data-vimeo-initialized="true" class="vid-wrap">
                <div class="vp-preview vp-preview-cover"  style="background-image: url({{ 'artisans-video.jpg' | asset_url }});">
                <h4>our artisans</h4>
                <span class="product__thumb-play">
                        {% include 'icon-play' %}
                    </span>
                </div>
                <iframe src="" width="640" height="420" frameborder="0" allowfullscreen="1"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>