{% comment %}
  This file handles each block available on product.sections or page.sections templates.
  Each block is a near identical duplicate of a section also available on the home page.
  Exception is sections that had blocks become hard coded options.
{% endcomment %}
<div class="page-blocks">
  {% for block in section.blocks %}
    <div {{ block.shopify_attributes }}>
      {% case block.type %}

        {% when 'show-menu' %}
          {% include 'page-block-show-menu' %}

        {% when 'custom-html' %}
          {% include 'page-block-custom-html' %}

        {% when 'background-image-text' %}
          {% include 'page-block-background-image-text' %}

        {% when 'hero-video' %}
          {% include 'page-block-hero-video' %}

        {% when 'hero-video-vimeo' %}
          {% include 'page-block-hero-video-vimeo' %}

        {% when 'image-hero' %}
          {% include 'page-block-image-hero' %}

        {% when 'image-row' %}
          {% include 'page-block-image-row' %}

        {% when 'rich-text'%}
          {% include 'page-block-rich-text' %}

        {% when 'text-and-image' %}
          {% include 'page-block-text-and-image' %}

        {% when 'text-columns' %}
          {% include 'page-block-text-columns' %}

        {% when 'video-row' %}
          {% include 'page-block-video-row' %}

        {% when 'video-row' %}
          {% include 'page-block-video-row' %}

        {% when 'banner-img' %}
          {% include 'background-image-text-block' %}

      {% endcase %}
    </div>
  {% endfor %}
</div>
