<div class="row our-story-top hide-mobile">
    <ul class="our-story-wrap">
        <li class="medium-up--one-quarter"><a id="our-story" href="/pages/our-story">our story</a></li>
        <li class="medium-up--one-quarter"><a id="our-mission" href="/pages/our-mission">our mission</a></li>
        <li class="medium-up--one-quarter"><a id="our-craft" href="/pages/our-craft">our craft</a></li>
        <li class="medium-up--one-quarter"><a id="our-artisans" href="/pages/our-artisans">our artisans</a></li>
    </ul>
</div>
