<div class="swell-reward-vietri" id="swell-post-checkout">
  <div class="swell-post-checkout">
    <div class="swell-post-checkout-holder">
      <div class="checkout-heading text-center">
        <span class="swell-referral-back-link close-checkout-popup"></span>
        <h2 class="swell-post-checkout-heading">THANK YOU!</h2>
      </div>
      <div class="referral-section">
        <div class="swell-referral-content">
          <div class="swell-referral-content-holder">
            <div class="swell-referral">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
