<div class="toolbar{% if overlay_header%} toolbar--transparent{% endif %} small--hide">
  <div id="toolbar">
  <div class="page-width">
    <div class="toolbar__content">
      {% if section.settings.toolbar_menu != blank %}
        <div class="toolbar__item toolbar__item--menu">
          <ul class="inline-list toolbar__menu">
          {% for link in toolbar_menu.links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if section.settings.toolbar_social %}
        <div class="toolbar__item">
          <ul class="inline-list social-icons toolbar__social">
            {% include 'social-icons' %}
          </ul>
        </div>
      {% endif %}

      {% if settings.enable_currencies and section.settings.toolbar_currencies %}
        <div class="toolbar__item">
          {% include 'currency-picker', picker_id: 'header' %}
        </div>
      {% endif %}
    </div>

  </div>
</div>
</div>
