<div class="yotpo yotpo-pictures-widget" data-gallery-id="5cf5832bb9cbc9054466d03c">
</div>
<style>
  .gallery-5cf5832bb9cbc9054466d03c.yotpo-display-wrapper {
    letter-spacing: 0 !important;
  }
</style>
{% schema %}
{
  "name": "Yotpo Homepage Gallery",
  "settings": [],
  "presets": [
    {
      "name": "Yotpo Homepage Gallery",
      "category": "Yotpo Reviews"
    }
  ]
}
{% endschema %}
