{% section 'collection-header' %}

<div id="CollectionAjaxResult" class="collection-content">
  <div id="CollectionAjaxContent">
    <div class="page-width">
      <div class="grid">
        <div class="grid__item medium-up--one-fifth grid__item--sidebar">
          {% section 'collection-sidebar' %}
        </div>
        <div class="grid__item medium-up--four-fifths grid__item--content">
<link rel="stylesheet" type="text/css" href="//c.zmags.com/static/styles.css" /><div class="zmags-viewer-container" data-group="608c02e8a3dd516c733125d4" data-company="5d9c5b5ead042310447079a6" data-speed="1"></div><script defer type="text/javascript"  src="//c.zmags.com/static/wrapper.js"></script><script defer type="text/javascript"  src="//c.zmags.com/static/manifest.js"></script><script defer type="text/javascript"  src="//c.zmags.com/static/vendor.js"></script><script defer type="text/javascript"  src="//c.zmags.com/static/client.js"></script>
         <br> {% section 'collection-template' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'nosto-element' with 'categorypage-nosto-1' %}
{% include 'nosto-element' with 'categorypage-nosto-2' %}
