{% comment %}
  Your home page is build up of sections, the code for each living in
  the sections/ director.
{% endcomment %}

{{ content_for_index }}

<div data-crl8-container-id="homepage"></div>

{% comment %} {% include 'nosto-element' with 'frontpage-nosto-1' %}

{% include 'nosto-element' with 'frontpage-nosto-2' %}

{% include 'nosto-element' with 'frontpage-nosto-3' %}

{% include 'nosto-element' with 'frontpage-nosto-4' %} {% endcomment %}
