<div class="swell-refer-page-image">
  <h2>REFER A FRIEND</h2>
</div>
<div class="referral-section">
  <div class="swell-referral-loader">
    <img src="{{ 'swell-loader.svg' | asset_url }}" >
  </div>
  <div class="swell-referral-content">
    <div class="swell-referral-content-holder">
      <div class="swell-referral"> 
      </div>
      {% if customer %}
      <div class="swell-seprator"></div>
      <div class="redeem-holder">
        <div class="check-reward-balance"> 
          <a href="/pages/rewards">CHECK REWARD BALANCE</a> 
        </div>
        <div class="refer-details">
          <div class="swell-section-content">
            <div class="swell-referral-heading">
              <h2>Your Referrals</h2>
            </div>
            <div class="table-classes">
              <div class="swell-table-responsive">
                <table class="swell-referral-table">
                  <thead>
                    <tr>
                      <th>Email</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody class="table-data">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="heading-area">
          <div class="heading-holder">
            <h4>HOW DO I REDEEM MY REWARD BALANCE?</h4>
          </div>
          <p>Redeeming your hard earned points is easy! Simply apply your rewards balance at checkout!</p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
